
body {
    background-color: rgb(233, 217, 217);
    display: flex;
    flex-direction: column;
}


.nav {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: flex-end;
    background-color: rgb(163, 72, 72);
    /* margin: auto; */
    padding: 10px 40px; 
    text-indent: 30px;


}
nav :hover {
    
} 

.footer{
     display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-content: end; */

margin-top: 630px;
    background-color: rgb(210, 110, 110);
    font-family: 'Righteous', cursive;
    padding: 15px;
    /* text-align: center; */
    justify-content: flex-end;
justify-content: space-around;

}

.copy{
position: relative;
    margin: 9px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}